@import 'materialize';
@import 'slick';
@import 'slick-theme';

@import 'invetta/fonts';
@import 'invetta/variables';
@import 'invetta/third-party-overwrites';
@import 'invetta/mixins';


body {
  font-family: Borda;

  &.i-main {
    .i-header {
      height: $main-header-height;
    }
  }

  &.i-subpage {
    .i-header {
      height: $subpage-header-height;

      h1 {
        font-size: $M*5;
        position: absolute;
        width: 66.7%;
        bottom: 0;
        margin-bottom: -$M/2;
        line-height: 1;

        &.small {
          font-size: $M*4;
        }
      }
    }
  }
}

.i-header {
  @include parallax;
  background-image: url('../images/backgrounds/blue-dish.png');
  width: 100%;

  background-size: cover;
  color: $header-text-color;
  position: relative;

  .i-logo {
    max-width: 200px;
  }

  a {
    color: $header-text-color;
  }

  h1,p,ul.i-menu {
    @include uppercase;
  }

  ul.i-menu {
    margin-top: $M/2;
    font-size: 16px;
    font-weight: 600;

    li {
      display: inline-block;
      padding: 0 36px $M;
      position: relative;

      a, img {
        vertical-align: middle;
      }

      img {
        margin-left: $M/3;
      }

      &:hover {
        img {
          transform: rotate(-180deg);
          transition: 0.5s;
        }

        ul.i-dropdown {
          @include fade-in(0.25s);
          z-index: 10;

          li {
            @include fade-in(0.9s);
          }
        }
      }

      ul.i-dropdown:before {
        @include blur(5px);
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width : 100%;
        height: 100%;
        background-image: linear-gradient(to right, transparent, $darker-navy-blue, transparent);
        z-index: -1;
      }

      ul.i-dropdown {
        z-index:          -100;
        opacity:          0;
        position:         absolute;
        top:              $M*2;
        left:             46%;
        transform:        translateX(-50%);
        width:            700px;
        height:           150px;
        padding:          $M 0 $M*2.5;
        margin:           auto;
        font-size:        16px;

        li {
          opacity: 0;
          padding: $M/4 0;
          display: block;

          .i-arrow {
            background: url('../images/icons/blue-arrow-right.png');
            background-size: contain;
            background-repeat: no-repeat;
            filter: grayscale(100%) brightness(1000%);
            display: inline-block;
            height: 10px;
            width: 5px;
            margin-right: $M/2;
          }
          a:hover, a:focus, a:active {
            .i-arrow {
              filter: brightness(300%);
            }
          }
        }
      }
    }
  }

  p {
    margin: $M*4 0 0;
    font-size: 20px;
    font-weight: 700;
  }

  h1 {
    margin-top: $M 0 0;
    font-size: 36px;
    line-height: 1.33;
    font-weight: 900;
  }

  h1 + .i-btn {
    margin-top: $M*1.5;
  }
}

.i-btn {
  @include uppercase;
  display: inline-block;
  padding: $M/2 $M;
  min-width: $M*7;
  font-size: 14px;
  border: 1px solid $navy-blue;
  color: $light-navy-blue;
  background-color: transparent;
  font-weight: 900;

  img {
    float: right;
    margin-top: 4px;
    display: inline-block;
    margin-left: $M/2;
    height: 14px;
  }
}

.i-light {
  $text-color: black;
  $paragraph-text-color: $gray;

  color: $text-color;
  a:not(.i-btn) {
    color: $text-color;
  }

  p {
    color: $paragraph-text-color;
  }
}

.i-dark {
  $text-color: white;
  $paragraph-text-color: white;

  color: $text-color;
  a:not(.i-btn) {
    color: $text-color;
  }

  .i-btn {
    border: 1px solid white;
    color: white;
  }

  p {
    color: $paragraph-text-color;
  }
}

.i-content {
  h2 {
    margin: 0;
    font-size: 36px;
    font-weight: 400;
  }

  h2.first-header {
    margin-top: $M*3;
  }

  h3 {
    @include uppercase;
    margin: 0;
    font-size: 14px;
    font-weight: 700;
  }

  h2 + h3 {
    margin-top: $M/2
  }

  h3 + h2 {
    margin-top: 0;
  }

  h3 + p {
    margin: $M*2 0 0;
  }

  p {
    margin: 0;
    font-size: 17px;
    line-height: 1.75;
    font-weight: 700;
  }

  p + .i-btn {
    margin-top: $M*2;
  }

  .i-content-space, .i-content-space-small, .i-content-space-tiny {
    margin: 0;
  }

  .i-content-space {
    padding: $M*4 0;
  }

  .i-content-space-small {
    padding: $M*3 0;
  }

  .i-content-space-tiny {
    padding: $M*2 0;
  }

  .i-topic-list {
    margin: 0;

    li {
      @include uppercase;
      display: inline-block;
      font-size: 26px;
      font-weight: 200;
      cursor: pointer;

      &:not(:last-child)::after {
        content: " /";
        font-weight: 700;
        margin-right: $M/3;
      }

      span {
        color: #4e92cc;
        cursor: pointer;

        &:hover, &.active {
          color: white;
        }
      }
    }
  }

  .i-mini-logos {
    $margin-top:           $M*3;
    $mini-logo-max-height: $M*1.5;

    margin-top: $margin-top;
    display: flex;
    align-items: center;

    &.i-partner-logos {
      margin-top: $margin-top + $mini-logo-max-height/6;
    }

    .i-mini-logo {
      flex: 1 1 auto;

      img {
        max-width: 100%;
        max-height: $M*1.5;
        padding: 0 $M;
      }
    }
  }
}

.i-sheet {
  padding-bottom: $M*3;

  .row:first-child {
    margin-top:  $M*2;
  }

  ul.section-links {
    margin-left: $M;

    li {
      display:      inline-block;
      margin-right: 25px;
      font-size:    24px;
      font-weight:  700;


      &:last-child {
        margin-right: 0;
      }

      a {
        color: $light-gray;

        &:hover, &:active {
          color: $lighter-navy-blue;
        }
      }
    }
  }

  h2, p {
    line-height: 2;
    text-align:  center;
  }

  h2 {
    @include uppercase;
    margin-top:     $M*4;
    font-size:      14px;
    font-weight:    900;
    letter-spacing: 8px;
  }

  p {
    margin-bottom: $M*2;
    font-size:     18px;
    font-weight:   500;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul:not(.section-links) {
    margin-top:    -$M;
    margin-bottom: $M*2;
    text-align: center;

    li {
      margin-bottom: $M/2;
      font-size:     16px;
    }
  }

  &.i-light p {
    color: black;
  }
}

.i-bg-shades {
  @include parallax;
  background-image: url('../images/backgrounds/blue-shades.png');
  background-size: cover;
}

.i-bg-navy-blue-dark {
  background-color: $navy-blue;
}

.i-col-form {
  h2,h3 {
    color: $darkest-navy-blue;
  }
}

.form-wrapper {
  padding: $M*2;
}

form {
  margin-top: $M;

  button.i-btn {
    background-color: $dark-navy-blue;
    color: white;
  }

  input, textarea, button {
    margin-top: $M/1.5;
    width: 100%;
  }

  input, textarea {
    padding: $M/1.8 $M/1.5;
    font-size: 15px;
    font-weight: 600;
    outline: none;
    color: black;

    @include placeholder {
      color: $gray;
    }
  }
}

.i-bg-letter {
  background-image: url('../images/various/letter.png');
  background-size: 50% auto;
  background-position: 0% 50%;
  background-repeat: no-repeat;
}

.i-bg-blue {
  background-color: $navy-blue;
}

.i-bg-white {
  background-color: white;
}

.i-bg-dark-gray, .i-bg-plus {
  background-size: 64px 64px;
}

.i-bg-dark-gray {
  background-image: url('../images/backgrounds/gray-cross.png');
}

.i-bg-plus {
  background-image: url('../images/backgrounds/cross.png');
}

.i-footer {
  h3 + .i-company-detail {
    margin-top: $M;
  }

  .i-company-detail {
    $font-size: 15px;

    margin-top: $M/1.5;
    font-size: $font-size;
    display: block;

    i {
      font-size: $font-size;
      vertical-align: sub;
      margin-right: $M/3;
    }
  }

  .i-company-details-flex {
    display: flex;

    .i-company-detail {
      flex: 1 1 auto;
      margin-top: $M;
    }
  }

  .i-logo {
    opacity: 0.6;
    max-width: 120px;
  }
}

.i-last-row {
  margin: 0;
  padding-bottom: $M*3;
}

.i-about-us {
  .row {
    .col {
      padding: 0;
    }

    .col:first-child {
      width: 45%;
      padding-left: 15%;
    }

    .col:nth-child(2) {
      width: 55%;
      margin-top: -$M*3.5;
      position: relative;
      z-index: 100;

      background-color: transparent;
      background-image: url('../images/backgrounds/network.png');
      background-size: 90% 100%;
      background-position: top right;
      background-repeat: no-repeat;

      img {
        margin-top: $M*2;
      }
    }
  }
}

.i-slider-dots-row {
  margin-bottom: 0;
}

#i-offer-slider {
  height: 100px;
}
