// Footer
.i-content.i-bg-dark-gray.i-dark.i-footer.center-align
  .container
    .row.i-content-space
      .col.s6
        h3 Dane kontaktowe
        .i-company-detail
          i.material-icons location_on
          a(href='https://www.google.pl/maps/place/Anielewicza+33,+Warszawa')
            | ul. Mordechaja Anielewicza 33/106, 01-057 Warszawa
        .i-company-detail
          i.material-icons phone
          |             +48 22 845 81 05
        .i-company-detail
          i.material-icons email
          a(href='mailto:biuro@invetta.pl') biuro@invetta.pl
      .col.s6
        h3 Dane firmy
        .i-company-details-flex
          .i-company-detail NIP: 5272728391
          .i-company-detail REGON: 360693352
          .i-company-detail KRS: 0000540204
    .row.i-last-row
      .col.s12
        a(href='/')
          img.i-logo(src='images/logos/invetta.png')
