// Kontakt
a(name='kontakt')
.i-content.i-bg-letter.i-bg-white
  .container
    .row.i-content-space-small
      .col.s5.offset-s7.i-light.center-align.i-col-form
        h3 Napisz do nas
        h2 Formularz kontaktowy
        form
          input(type='text', placeholder='Twój e-mail')
          input(type='text', placeholder='Temat wiadomości')
          textarea(placeholder='Treść wiadomości', rows='4')
          button.i-btn(type='submit') Wyślij
