// Partnerzy
div(class=main ? 'i-content i-bg-plus i-light' : 'i-content i-light')
  .container
    .row.i-content-space.center-align
      .col.s6
        h2 Partnerzy
        h3 Z nimi opracowujemy najlepsze rozwiązania
        .i-mini-logos.i-partner-logos
          .i-mini-logo
            img.valign(src='images/logos/voltra.png')
          .i-mini-logo
            img.valign(src='images/logos/pw-freelance.png')
          .i-mini-logo
            img.valign(src='images/logos/irts.png')
      .col.s6
        h2 Klienci
        h3 Oni nas wybrali
        .i-mini-logos
          .i-mini-logo
            img.valign(src='images/logos/coca-cola.png')
          .i-mini-logo
            img.valign(src='images/logos/ibm.png')
          .i-mini-logo
            img.valign(src='images/logos/audi.png')
