script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js')
script(src='js/main.js')
