$M: 20px;
$header-text-color: white;
$main-header-height: 460px;
$subpage-header-height: 400px;
$gray: #757575;
$dark-gray: #3a3a3a;
$light-gray: #a6b0b5;
$navy-blue: #023866;
$dark-navy-blue: #032949;
$darker-navy-blue: #013052;
$darkest-navy-blue: #02345f;
$lighter-navy-blue: #045c93;
$light-navy-blue: #3e678a;
