extends layout.pug

block header
  h1 Dział technologiczny

block content
  .i-sheet.i-light
    .container
      .row
        .col.s12.m10.offset-m1
          p
            | Ze względu na szeroki zakres realizacji projektów nasi eksperci dziedzinowi wywodzą się  z wiodących ośrodków naukowych w Polsce. Wśród nich jest m.in. Polska Akademia Nauk, uczelnie techniczne takie jak: Politechnika Warszawska, Politechnika Rzeszowska, Politechnika Wrocławska, Politechnika Łódzka, Wojskowa Akademia Techniczna, Akademia Górniczo‐Hutnicza w Krakowie, uniwersytety i akademie oraz instytuty badawcze np. Uniwersytet Warszawski, Uniwersytet Kardynała Stefana Wyszyńskiego, Akademia Leona Koźmińskiego, Instytut Automatyki i Informatyki Stosowanej. Do grona naszych ekspertów należą ponadto osoby mające wieloletnie doświadczenie przy wdrażaniu projektów innowacyjnych. Dzięki temu nasz zespół jest w stanie zrealizować złożone projekty wymagające zaawansowanej wiedzy eksperckiej gwarantującej wysoki poziom realizacji m.in.:

            ul
              li audytów innowacyjności
              li
                | planowania, modelowania i opracowywania strategii wdrażania innowacji i ich promocji  w kraju oraz za granicą
              li analiz wariantów rozwoju firmy w oparciu o wdrożenie innowacji
              li analiz finansowych wdrożenia innowacji
              li doradztwa prawnego, w tym opracowania/konsultacji umów
              li doradztwa w dziedzinie własności intelektualnej
              li wnioskowania o dofinansowanie innowacyjnych inwestycji
