extends layout.pug

block header
  h1.small Finansowanie i prowadzenie projektów

block content
  .i-sheet.i-light
    .container
      .row
        .col.s12.m10.offset-m1
          p
            | Nasz zespół tworzą certyfikowani doradcy (IPMA, PMI, PRINCE2) w zakresie zarządzania projektami, pozyskiwania oraz rozliczania środków z dotacji unijnych dla podmiotów gospodarczych, naukowych oraz jednostek sektora finansów publicznych. Dysponujemy doświadczeniem zdobytym przy opracowywaniu oraz koordynacji ponad kilkuset projektów finansowanych ze środków UE oraz dotacji krajowych, których wartość plasuje się od kilku do kilkuset milionów złotych.
          p
            | Specjaliści Invetty pomagają we właściwym wyborze programu, kompleksowym przygotowaniu niezbędnej dokumentacji, jak również rozliczeniu projektu. Obsługujemy zarówno przedsięwzięcia inwestycyjne jak i doradcze czy badawcze. Kompetencje naszego zespołu pozwalają na przygotowanie profesjonalnych działań w zakresie:

            ul
              li
                | Analizy dostępnych zewnętrznych źródeł finansowania działalności innowacyjnej  w podziale na: źródła ogólnoeuropejskie, źródła krajowe – środki unijne, źródła krajowe – budżet państwa, źródła regionalne (działania regionalnych programów operacyjnych), finansowanie środkami komercyjnymi.
              li
                | Profesjonalnego doradztwa z zakresu wdrażania rozwiązań innowacyjnych,  w tym: opracowanie studiów przedinwestycyjnych dotyczących wdrażania nowych rozwiązań, wdrożenie nowych lub doskonalenie już istniejących rozwiązań innowacyjnych, weryfikacja poziomu innowacyjności planowanych do wdrożenia rozwiązań, wspieranie przedsiębiorstw w pozyskiwaniu rozwiązań innowacyjnych, poprzez sprzedaż i pomoc we wdrażaniu rozwiązań wypracowanych przez ośrodki naukowo – badawcze.
          p
            | Nasze wsparcie obejmuje również specjalistyczne usługi, w tym „due diligence" dla klientów planujących, wyceniających i finansujących projekty inwestycje.
