extends layout.pug

block top
  - var main = true

block header
  p Rozwój przez innowacje
  h1
    | Proinnowacyjna integracja organizacji z sektorem badawczo-rozwojowym
  a.i-btn(href='#oferta')
    | Poznaj ofertę
    img(src='images/icons/white-arrow-right.png')

block content
  // O nas
  a(name='o-nas')
  .i-content.i-bg-plus.i-light.i-about-us
    .row
      .col
        h2.first-header O nas
        h3 Na czym polega nasza działalność?
        p
          | Invetta Sp. z o.o. powstała z misją wspierania naszych klientów w proinnowacyjnej integracji organizacji z sektorem badawczo-rozwojowym oraz ułatwieniu prac rozwojowych. Swoją wiedzą i doświadczeniem wspomagamy przedsiębiorców, aby mogli rozwijać swój biznes i skutecznie konkurować z innymi podmiotami na rynku.
        a.i-btn(href='o-nas.html')
          | WIĘCEJ
          img(src='images/icons/blue-arrow-right.png')
      .col
        #i-about-us-slider
          p
            img.responsive-img(src='images/backgrounds/cubes.png')
  // Oferta
  a(name='oferta')
  .i-content.i-bg-plus.i-light
    .container
      .row.i-content-space-tiny
        .col.s12.center-align
          h2 Oferta
          h3 Co możemy zrobić dla Twojej firmy
  .i-content.i-dark.i-bg-shades
    .container
      .row.i-content-space.valign-wrapper
        .col.s6
          ul.i-topic-list#i-offer-slider-list
            li
              span.active Biznes
            li
              span Ośrodki naukowo - badawcze
            li
              span Samorządy
            li
              span Dział technologiczny
            li
              span Dział finansowania i prowadzenia projektów
        .col.s6.valign.center-align
          #i-offer-slider
            p
              | Pomagamy wyznaczyć nowe kierunki rozwoju, zwiększać zyskowność oraz
              | optymalizować procesy zachodzące wewnątrz firmy.
            p
              | *** TODO: Osrodki badawczo-naukowe ***
            p
              | *** TODO: Samorzady ***
            p
              | *** TODO: Dzial technologiczny ***
            p
              | *** TODO: Dzial finansowania i prowadzenia projektow ***
      .row.i-slider-dots-row
        .col.s12.center-align
          div(style='position: relative')
            #i-offer-slider-dots
