extends layout.pug

block header
  h1 O nas

block content
  .i-sheet.i-light
    .container
      .row
        .col.s12.m10.offset-m1
          p Invetta Sp. z o.o. powstała z misją wspierania naszych klientów w proinnowacyjnej integracji przedsiębiorstw z sektorem badawczo-rozwojowym oraz ułatwieniu prac rozwojowych. Swoją wiedzą i doświadczeniem wspomagamy przedsiębiorców, aby mogli rozwijać swój biznes i skutecznie konkurować z innymi podmiotami na rynku. Ofertę kierujemy zarówno do podmiotów gospodarczych z sektora prywatnego (w tym start-upy), ale także do instytucji publicznych, instututów badawczo-rozwojowych oraz Jednostek Samorządu Terytorialnego. Dzięki kompleksowemu podejściu jesteśmy w stanie zarekomendować rozwiązania, które w znaczący sposób zwiększą efektywność podejmowanych wyzwań biznesowych i rozwojowych.
          p Tworzenie, pozyskiwanie i wdrażanie innowacji w przedsiębiorstwie to najlepszy sposób na podniesienie jego konkurencyjności. Firma, która jest zdolna oferować i dostarczać na rynek nowe produkty i usługi lub dokonywać modernizacji już istniejących, zyskuje ogromną przewagę nad konkurentami. Pomagamy określić poziom innowacyjności przedsiębiorstwa oraz powstających w firmie rozwiązań lub pozyskać nowe technologie w ramach współpracy technologicznej lub transferu technologii. Oferowane usługi badanie potencjału innowacyjnego firmy (audyt technologiczny), wyszukiwanie partnerów do współpracy technologicznej,    pomoc    w    nawiązaniu    współpracy    firm    z    jednostkami    badawczymi, doradztwo w zakresie ochrony własności intelektualnej i przemysłowej, doradztwo w zakresie pozyskiwania dofinansowania na działalność innowacyjną firm.
          p Wiedza i doświadczenia połączone z ambicją przekraczania oczekiwań naszych klientów  wyróżnia  nas  w zakresie wspierania innowacyjności i przedsiębiorczości.  Najbardziej wymagające projekty realizujemy we współpracy z ekspercką kadrą naukową krajowych uczelni wyższych lub niezależnymi ekspertami specjalizującymi się w danej dziedzinie.
          p
            b Wspieramy wprowadzanie zmian i inspirujemy do zmiany.
