extends layout.pug

block header
  h1.jumbo Ośrodki naukowo-badawcze

block content
  .i-sheet.i-light
    .container
      .row
        .col.s12.m10.offset-m1
          p
            | Invetta Sp. z o.o. wychodzi z inicjatywą kompleksowego wsparcia strategicznego i bieżącego dla ośrodków badawczo rozwojowych. Stymulujemy innowacyjność ośrodków naukowych oraz umożliwiamy wykorzystanie w pełni potencjału intelektualnego ich pracowników. Pomagamy w  transferze wyników prac naukowych do gospodarki, prowadzeniu działalności w zakresie ochrony własności intelektualnej, budowie sieci współpracy między sferą nauki a gospodarką dla ułatwiania i zintensyfikowania przepływu innowacyjnych technologii i wiedzy. Wachlarz naszych usług obejmuje m.in. analizę potrzeb uczelni/instytucji oraz celów jakie stawia przed sobą kadra zarządzająca, wskazujemy obszary wymagające zmian lub obszary o potencjale rozwojowym, rekomendujemy skuteczne metody rozwiązywania poszczególnych kwestii a także sposoby ich finansowania ( granty, dotacje, pożyczki ), pomagamy we wdrożeniu na każdym z etapów.
          br
          br
          p
            | Kluczowym priorytetem UE na lata 2014-2020 jest finansowanie projektów badawczo-rozwojowych, które mają przełożyć się na wdrażanie innowacji w skali przemysłowej.
          p
            | Wspierane są prace badawcze i rozwojowe realizowane przez przedsiębiorców samodzielnie lub we współpracy z jednostkami naukowymi, a także projekty obejmujące wdrożenia do praktyki gospodarczej wyników prac B+R. Ponadto, dofinansowanie mogą uzyskać projekty związane z rozpoczęciem działalności B +R poprzez utworzenie (rozbudowę) Działu B+R w przedsiębiorstwie.
          p
            | Pomagamy pozyskać fundusze  na działalność B+R m.in. w ramach Programu Operacyjnego Inteligentny Rozwój, Programu Operacyjnego Polska Wschodnia, 16 Regionalnych Programów Operacyjnych (RPO) oraz NCBiR, unijnych programów ponadregionalnych INTERREG, COSME, Creative Europe i wiele innych.
