extends layout.pug

block header
  h1.jumbo Zespół ekspercki

block content
  .i-sheet.i-light
    .container
      .row
        .col.s12
          ul.section-links
            li
              a(href='#dzial-technologiczny') Dział technologiczny
            li
              a(href='#dzial-finansowania-i-prowadzenia-projektow') Dział finansowania i prowadzenia projektów
      .row
        .col.s12.m10.offset-m1
          a(name='dzial-technologiczny')
          h2 Dział technologiczny
          p
            | Ze względu na szeroki zakres realizacji projektów nasi eksperci dziedzinowi wywodzą się  z wiodących ośrodków naukowych w Polsce. Wśród nich jest m.in. Polska Akademia Nauk, uczelnie techniczne takie jak: Politechnika Warszawska, Politechnika Rzeszowska, Politechnika Wrocławska, Politechnika Łódzka, Wojskowa Akademia Techniczna, Akademia Górniczo‐Hutnicza w Krakowie, uniwersytety i akademie oraz instytuty badawcze np. Uniwersytet Warszawski, Uniwersytet Kardynała Stefana Wyszyńskiego, Akademia Leona Koźmińskiego, Instytut Automatyki i Informatyki Stosowanej. Do grona naszych ekspertów należą ponadto osoby mające wieloletnie doświadczenie przy wdrażaniu projektów innowacyjnych. Dzięki temu nasz zespół jest w stanie zrealizować złożone projekty wymagające zaawansowanej wiedzy eksperckiej gwarantującej wysoki poziom realizacji m.in.:

            ul
              li audytów innowacyjności
              li
                | planowania, modelowania i opracowywania strategii wdrażania innowacji i ich promocji  w kraju oraz za granicą
              li analiz wariantów rozwoju firmy w oparciu o wdrożenie innowacji
              li analiz finansowych wdrożenia innowacji
              li doradztwa prawnego, w tym opracowania/konsultacji umów
              li doradztwa w dziedzinie własności intelektualnej
              li wnioskowania o dofinansowanie innowacyjnych inwestycji

          a(name='dzial-finansowania-i-prowadzenia-projektow')
          h2 Dział finansowania i prowadzenia projektów
          p
            | Nasz zespół tworzą certyfikowani doradcy (IPMA, PMI, PRINCE2) w zakresie zarządzania projektami, pozyskiwania oraz rozliczania środków z dotacji unijnych dla podmiotów gospodarczych, naukowych oraz jednostek sektora finansów publicznych. Dysponujemy doświadczeniem zdobytym przy opracowywaniu oraz koordynacji ponad kilkuset projektów finansowanych ze środków UE oraz dotacji krajowych, których wartość plasuje się od kilku do kilkuset milionów złotych.
          p
            | Specjaliści Invetty pomagają we właściwym wyborze programu, kompleksowym przygotowaniu niezbędnej dokumentacji, jak również rozliczeniu projektu. Obsługujemy zarówno przedsięwzięcia inwestycyjne jak i doradcze czy badawcze. Kompetencje naszego zespołu pozwalają na przygotowanie profesjonalnych działań w zakresie:

            ul
              li
                | Analizy dostępnych zewnętrznych źródeł finansowania działalności innowacyjnej  w podziale na: źródła ogólnoeuropejskie, źródła krajowe – środki unijne, źródła krajowe – budżet państwa, źródła regionalne (działania regionalnych programów operacyjnych), finansowanie środkami komercyjnymi.
              li
                | Profesjonalnego doradztwa z zakresu wdrażania rozwiązań innowacyjnych,  w tym: opracowanie studiów przedinwestycyjnych dotyczących wdrażania nowych rozwiązań, wdrożenie nowych lub doskonalenie już istniejących rozwiązań innowacyjnych, weryfikacja poziomu innowacyjności planowanych do wdrożenia rozwiązań, wspieranie przedsiębiorstw w pozyskiwaniu rozwiązań innowacyjnych, poprzez sprzedaż i pomoc we wdrażaniu rozwiązań wypracowanych przez ośrodki naukowo – badawcze.
          p
            | Nasze wsparcie obejmuje również specjalistyczne usługi, w tym „due diligence" dla klientów planujących, wyceniających i finansujących projekty inwestycje.
